In [1]:
import json

In [2]:
from pandas.io.json import json_normalize

In [3]:
import pandas as pd

In [4]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [5]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [6]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

In [19]:
# load json as string
with open('world_bank_projects.json') as file:

      data=json.load(file)

In [23]:
df=pd.DataFrame(data)

In [32]:
#1.)  Find the 10 countries with most projects

solution1=df['countryname'].value_counts().head(10)
print(solution1.sort_values(ascending=False))

People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
Kingdom of Morocco                 12
People's Republic of Bangladesh    12
Africa                             11
Republic of Mozambique             11
Name: countryname, dtype: int64

In [52]:
#2.)  Find the top 10 major project themes (using column 'mjtheme_namecode')

#retrieve and flatten data
themes = json_normalize(data, 'mjtheme_namecode')

#count up all themes and print them
solution2=themes['name'].value_counts()
print(solution2)

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Economic management                              33
Rule of law                                      12
Name: name, dtype: int64

In [70]:
#    3)  In 2. above you will notice that some entries 
#    have only the code and the name is missing. Create 
#    a dataframe with the missing names filled in.

#create a dictionary with all the codes corresponding to the appropriate names
code_dict={
    1:'Economic management',
    2:'Public sector governance',
    3:'Rule of law',
    4:'Financial and private sector development',
    5:'Trade and integration',
    6:'Social protection and risk management',
    7:'Social dev/gender/inclusion',
    8:'Human development',
    9:'Urban development',
    10:'Rural development',
    11:'Environment and natural resources management'
}

#convert the code column to numeric and map the dictionary to the codes for each row
themes['code']=pd.to_numeric(themes['code'])
themes['name']=themes['code'].map(code_dict)

#print
print(themes['name'].value_counts())

Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Rule of law                                      15
Name: name, dtype: int64